 <html>
  <header>
    <%# Please finish code without using javascript to pass Meats,Veggies and Cheese as an array to app route. Next pass array into confirmation page and populate with check boxes to verify selections. Post back to new route and display final selections on a result page. You have 45 minutes to complete this. Do not push to github until everyone has finished. %>
  </header
  <body>
    <%=yield%>
   </body>
</html>  
